/* Fondo solo para la página login */
.login-page {
  height: 100vh;
  width: 100vw;
  /* background-image: url('../../../public//img//xd.jpg'); Ajusta la ruta según tu estructura */
  background-size: cover;
  background-position: center;
  background-repeat:repeat;
  background: linear-gradient(135deg, #1f2937 0%, #374151 50%, #4b5563 100%);
  

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Contenedor centrado y con fondo blanco translúcido */
.login-container {
  background-color: rgb(255, 255, 255);
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Encabezado */
.login-container h2 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

/* Campos de formulario */
.login-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  color: #000000;
}

.login-input-group label {
  font-weight: 520;
  margin-bottom: 0.4rem;
  color: hsl(0, 0%, 0%);
}

.login-input-group input {
  padding: 0.5rem;
  border: 1px solid #c2bfbf;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  background-color: #f5f3f3;
  color: #000000;
}

.login-input-group input:focus {
  border-color: #c2afaf;
  outline: none;
  color: #000000;
}

/* Botón */
.login-container button {
  width: 100%;
  padding: 0.5rem;
  background-color: #224870;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-container button:hover:not(:disabled) {
  background-color: #0056b3;
}

.login-container button:disabled {
  background-color: #357bdd;
  cursor: not-allowed;
}

/* Mensaje de estado */
.login-message {
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
}

/* Enlaces inferiores */
.login-links {
  margin-top: 1.8rem;
  text-align: center;
  font-size: 0.95rem;
  color: #2c3e50;
}

.login-links a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.login-links a:hover {
  text-decoration: underline;
}
